
if SHIELD_CRADIOS_LEFT

config ZMK_KEYBOARD_NAME
	default "Cradios"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
endif


if SHIELD_CRADIOS_RIGHT

config ZMK_KEYBOARD_NAME
	default "CRADIOS_Right"

endif

if SHIELD_CRADIOS_RIGHT || SHIELD_CRADIOS_LEFT

config ZMK_SPLIT
	default y

endif

