# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CRADIOX_LEFT
	def_bool $(shields_list_contains,cradiox_left)

config SHIELD_CRADIOX_RIGHT
	def_bool $(shields_list_contains,cradiox_right)
