
if SHIELD_SWEEPV2_LEFT

config ZMK_KEYBOARD_NAME
	default "Sweepv2"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif


if SHIELD_SWEEPV2_RIGHT

config ZMK_KEYBOARD_NAME
	default "sweepv2_Right"

endif


if SHIELD_SWEEPV2_RIGHT || SHIELD_SWEEPV2_LEFT

config ZMK_SPLIT
	default y


endif
