
if SHIELD_CRADIOZ_LEFT

config ZMK_KEYBOARD_NAME
	default "CradioZ"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif


if SHIELD_CRADIOZ_RIGHT

config ZMK_KEYBOARD_NAME
	default "CRADIOZ_Right"

endif



if SHIELD_CRADIOZ_RIGHT || SHIELD_CRADIOZ_LEFT

config ZMK_SPLIT
	default y

endif
