/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |   BKSP    |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |    '      |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT(RET) |
//                         | ALT | LWR | SPC | RSE  | ALT |
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T   	&kp Y &kp U  &kp I    &kp O   &kp P    
  &kp A &kp S &kp D &kp F &kp G   	&kp H &kp J  &kp K    &kp L   &kp SCLN 
   &kp Z &kp X &kp C &kp V &kp B   	&kp N &kp M  &kp CMMA &kp DOT &kp FSLH 
         &kp LGUI  &mo 1 &kp LCTL	&kp SPC  &mo 2  &kp RALT
                        >;
                };

          
        };
};
