/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */
 #include <dt-bindings/zmk/matrix-transform.h>
 
/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};
		
	default_transform: keymap_transform_0 {
	compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <1>;
		map = <
RC(0,0) RC(0,1) RC(0,2) 
RC(0,3) RC(0,4) RC(0,5) 
		
>;
	};	
	
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
		label = "KSCAN";
	};

};


		&kscan0 {
		input-gpios
	    = <&pro_micro_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//D7
            , <&pro_micro_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//C6
            , <&pro_micro_a 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//D4
            , <&pro_micro_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//D1
            , <&pro_micro_d 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//B1
            , <&pro_micro_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//B4
            , <&pro_micro_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//B5
            , <&pro_micro_d 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>//B3
          
		;
};
      
