
if SHIELD_PARERGON_LEFT

config ZMK_KEYBOARD_NAME
	default "Parergon"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif


if SHIELD_PARERGON_RIGHT

config ZMK_KEYBOARD_NAME
	default "Parergon_Right"

endif


if SHIELD_PARERGON_RIGHT || SHIELD_PARERGON_LEFT

config ZMK_SPLIT
	default y


endif
