# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SATURNINE_LEFT
	def_bool $(shields_list_contains,saturnine_left)

config SHIELD_SATURNINE_RIGHT
	def_bool $(shields_list_contains,saturnine_right)
